<div class="wrapper">
  <ui5-dynamic-page id="page" show-footer>
    <ui5-dynamic-page-title class="bg-white" slot="titleArea">
      <ui5-breadcrumbs slot="breadcrumbs">
        <ui5-breadcrumbs-item href="#">Client-app</ui5-breadcrumbs-item>
        <ui5-breadcrumbs-item href="#">Product</ui5-breadcrumbs-item>
        <ui5-breadcrumbs-item>
          {{ ViewData?.productname }}</ui5-breadcrumbs-item
        >
      </ui5-breadcrumbs>

      <ui5-title wrapping-type="None" slot="heading">
        {{ ViewData?.productname }}
      </ui5-title>

      <div slot="snappedHeading" class="snapped-title-heading">
        <ui5-avatar
          shape="Square"
          icon="laptop"
          color-scheme="Accent5"
          size="S"
        ></ui5-avatar>
        <ui5-title wrapping-type="None"> {{ ViewData?.productname }}</ui5-title>
      </div>

      <ui5-text slot="subheading">PO-48865</ui5-text>
      <ui5-text slot="snappedSubheading">PO-48865</ui5-text>

      <ui5-tag color-scheme="7">Special {{ ViewData?.price }} EUR</ui5-tag>

      <ui5-toolbar id="actionsToolbar" slot="actionsBar">
  

      </ui5-toolbar>

      <ui5-toolbar slot="navigationBar">
        <ui5-toolbar-button
          design="Transparent"
          icon="share"
        ></ui5-toolbar-button>
        <ui5-toolbar-button
          design="Transparent"
          icon="action-settings"
        ></ui5-toolbar-button>
      </ui5-toolbar>
    </ui5-dynamic-page-title>

    <ui5-dynamic-page-header slot="headerArea">
      <div class="product-info">
        <ui5-avatar
          id="avatar"
          shape="Square"
          icon="laptop"
          color-scheme="Accent5"
          size="L"
        ></ui5-avatar>
        <div class="product-info-cell">
          <ui5-label>Availability</ui5-label>
          <ui5-text class="availability">In Stock</ui5-text>
        </div>
        <div class="product-info-cell">
          <ui5-label>Price</ui5-label>
          <ui5-text class="price"> {{ ViewData?.price }} USD</ui5-text>
        </div>
        <div class="product-info-cell">
          <ui5-label>Product Description</ui5-label>
          <ui5-text class="product-description">
            Super-lightweight cushioning propels you forward from landing to
            toe-off and has a fast, snappy feel.
          </ui5-text>
        </div>
      </div>
    </ui5-dynamic-page-header>



    <!-- <ui5-bar class="m-auto mx-2" slot="footerArea" design="FloatingFooter">
        <ui5-button id="save-edit" slot="endContent">Save</ui5-button>
        <ui5-button id="cancel-edit" slot="endContent">Close</ui5-button>
      </ui5-bar> -->
  </ui5-dynamic-page>


</div>
